<div  class='duoshuo'>
<div id="gitment"></div>
<link rel="stylesheet" href="/css/gitment.css">
<script src="/js/gitment.js"></script>
<script>
var gitment = new Gitment({
  owner: 'genuinex',
  repo: 'myblogcomment',
  oauth: {
    client_id: '9ee85fb6799828c0f418',
    client_secret: '7cb561b18919785fab3e9a4ee0ae9bf1678ac2cc',
  },
})
gitment.render('gitment')
</script>
</div>
